#top-bar {
	height: 8rem;
	background: @color-back-top-bar;
	font-size: 1.8rem;
	color: #fff;
	
	#back-btn {
		float: left;
		width: 8rem;
		height: 2rem;
		padding: 3rem 0;
		
		background: @color-back-right-area;
		font-family: Conv_icomoon;
		
		&:hover {
			background: darken(@color-back-right-area, 20%);
		}
	}
	
	#title {
		margin-left: 10rem;
		height: 2rem;
		padding: 3rem 0;
		
		overflow: hidden;
  		white-space: nowrap;
		text-overflow: ellipsis;
		
		font-weight: 600;
		
		&.no-back {
			margin-left: 4rem;
		}
	}
}