#top-bar {
	height: 80px;
	background: @color-back-top-bar;
	font-size: 20px;
	
	#back-btn {
		float: left;
		width: 80px;
		height: 20px;
		padding: 30px 0;
		
		background: @color-back-right-area;
		font-family: Conv_icomoon;
		
		&:hover {
			background: darken(@color-back-right-area, 20%);
		}
	}
	
	#title {
		margin-left: 100px;
		height: 20px;
		padding: 30px 0;
		
		overflow: hidden;
  		white-space: nowrap;
		text-overflow: ellipsis;
		
		font-weight: 600;
		
		&.no-back {
			margin-left: 40px;
		}
	}
}