#left-area {
	#comment-area {
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 6rem;
		
		#comment-area-title {
			width: 100%;
			height: 2rem;
			padding: 2rem 0;
			color: @color-type-on-white;
			text-align: center;
			cursor: pointer;
			transition: background 0.3s, color 0.3s;
			
			&:hover {
				font-family: Conv_icomoon;
				transition: background 0.3s, color 0.3s;
				background: @color-back-top-bar;
				color: #fff;
			}
		}
		
		#comment-list {
			position: absolute;
			width: 100%;
			top: 6rem;
			bottom: 0;
			overflow-y: auto;
			
			.comment-item {
				width: 100%;
				margin-bottom: 2rem;
				
				.avatar-wrapper {
					float: left;
					width: 8rem;
				}
				
				.comment-main {
					margin-left: 8rem;
					min-height: 6.7rem;
					padding: 0.7rem 0 0.6rem; 
					background: @color-back-comment;
					
					p {
						margin: 0 2rem;
						color: @color-type-on-white;
						&.comment-content {
							margin-top: 0.3rem;
						}
					}
				}
			}
		}
	}
}