#left-area {
	#edit-area {
		height: 100%;
		
		#tab {
			height: 5rem;
			overflow: hidden;
			white-space: nowrap;
			
			li {
				display: inline-block;
				margin-left: -1px;
				a {
					display: inline-block;
					height: 2rem;
					padding: 1.5rem 3rem;
					background: #446a85;
					color: inherit;
					transition: background 0.4s ease-out;
					
					&.current {
						font-weight: 600;
					}
					
					&.current, &:hover {
						background: @color-back-blue-button;
						transition: background 0.4s ease-out;
						outline: none;
					}
					
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
	
	#edit-area-table {
		#toolbar {
			height: 5rem;
			background: @color-back-top-bar; 
			
			button {
				width: 5rem;
				height: 100%;
				border: none;
				i {
					margin: 0;
				}
			}
		}
		
		#table {
			font-size: inherit;
			background: #fff;
			position: absolute;
			top: 10rem;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}	
}

.table-header {
	text-align: center;
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	background: @color-back-comment;
	color: @color-back-blue-button;
	font-weight: 600;
}

.table-cell {
	text-align: right;
	border-style: solid;
}

.table-cell-checkbox {
	text-align: center;
	border-style: solid;
}

.table-cell.active {
	border-color: @color-back-blue-button!important;
	box-shadow: 0 0 2px @color-back-blue-button inset;
}

.table-cell-checkbox.selected, .table-cell.selected {
	background: beige;
}

.editor-text {
	padding: 0!important;
	background: #fff!important;
	font: inherit!important;
	width: 100%!important;
	box-shadow: none!important;
}

.ui-datepicker-trigger {
	background: url(../../../js/slickgrid/images/calendar.gif) no-repeat;
	position: relative;
	left: -20px;
	color: rgba(0, 0, 0, 0);
	display: inline-block;
	width: 20px;
}