#left-area {
	#edit-area {
		height: 100%;
		
		ul#tab {
			height: 5rem;
			overflow: hidden;
			white-space: nowrap;
			
			li {
				display: inline-block;
				margin-left: -1px;
				a {
					display: inline-block;
					height: 2rem;
					padding: 1.5rem 3rem;
					background: #446a85;
					color: inherit;
					transition: background 0.4s ease-out;
					
					&.current {
						font-weight: 600;
					}
					
					&.current, &:hover {
						background: @color-back-blue-button;
						transition: background 0.4s ease-out;
						outline: none;
					}
					
					&:focus {
						outline: none;
					}
				}
			}
		}
		
		&>div:not(.current) {
			display: none;	
		}
		
		#seekbar, #toolbar {
			height: 5rem;
			background: @color-back-top-bar;
			
			button {
				float: left;
				width: 5rem;
				height: 100%;
				border: none;
				i {
					margin: 0;
				}
				&:not(:first-child) {
					margin-left: 0.1rem;
				}
			}
		}
		
		#timeline-list, #filter-list {
			height: 100%;
			margin-left: 5rem;
			padding-left: 1rem;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
		}
		
		#timeline-list .timeline-item, #filter-list .filter-item {
			display: inline-block;
			text-align: center;
			padding: 1.5rem 1rem;
			height: 2rem;
			cursor: pointer;
			
			&.focused {
				font-weight: 700;
				color: @color-type-link;	
			}
			
			&:hover {
				background: darken(@color-back-right-area, 20%);
			}
		}
	}
	
	#edit-area-visualization {
		#map {
			position: absolute;
			width: 100%;
			top: 5rem;
			bottom: 5rem;
		}
		
		#seekbar {
			position: absolute;
			width: 100%;
			bottom: 0;
		}
	}
	
	#edit-area-style {
		#toolbar {
			.styled-select {
				box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    
				width: 50%;
				height: 100%;
				float: right;
				
				background-color: @color-back-left-panel;
				
				select {
					box-sizing: border-box;
				    -moz-box-sizing: border-box;
				    
					height: 100%;
					width: 120%;
				}
			}
		}
	}
	
	#edit-area-table, #edit-area-style {
		#table {
			font-size: inherit;
			background: #fff;
			position: absolute;
			top: 10rem;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.table-header {
	text-align: center;
	padding-top: 1rem!important;
	padding-bottom: 1rem!important;
	background: @color-back-comment;
	color: @color-back-blue-button;
	font-weight: 600;
}

.table-cell {
	text-align: right;
	border-style: solid;
}

.table-cell-checkbox {
	text-align: center;
	border-style: solid;
}

.table-cell.active {
	border-color: @color-back-blue-button!important;
	box-shadow: 0 0 2px @color-back-blue-button inset;
	
	>select {
		width: 100%; 
		height: 100%; 
		font: inherit; 
		text-align: right;
	}
	
	.sp-replacer {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		
		.sp-preview {
			height: 100%;
			width: 90%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
		
		.sp-dd {
			line-height: 6px;
			width: 5%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
	}
}

.sp-container {
	.sp-choose, .sp-cancel {
		font: inherit;
	}
	
	.sp-input {
		font: inherit;
		color: #fff;
	}
}

.table-cell-checkbox.selected, .table-cell.selected {
	background: beige;
}

.editor-text {
	padding: 0!important;
	background: #fff!important;
	font: inherit!important;
	width: 100%!important;
	box-shadow: none!important;
}

.ui-datepicker-trigger {
	background: url(../../../js/slickgrid/images/calendar.gif) no-repeat;
	position: relative;
	left: -20px;
	color: rgba(0, 0, 0, 0);
	display: inline-block;
	width: 20px;
}