#left-area {
	#following-list {
		.following-item {
			position: relative;
			transition: background 0.4s ease-out;
			
			&:hover {
				background: @color-back-top-bar;
				transition: background 0.3s ease-out;
				
				.following-main .unfollow-btn {
					margin-top: -2.5rem;
					display: inline-block;
					padding: 0.5rem;
				}
			}
			
			.avatar-wrapper {
				width: 6rem;
				height: 6rem;
				img {
					width: 6rem;
					height: 6rem;
				}
			}
			
			.following-main {
				position: absolute;
				top: 0;
				right: 0;
				left: 6rem;
				height: 2rem;
				padding: 2rem;
				
				p {
					width: calc(100% - 5rem);
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				
				.unfollow-btn {
					font-family: Conv_icomoon;
					display: none;
					float: right;
				}
			}
		}
	}
}