#left-area {
	form[name='settings-form'] {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		left: 0;
		right: 0;
		top: 1rem;
		bottom: 0;
		
		table {
			position: absolute;
			display: block;
			left: 4rem;
			right: 4rem;
			
			button, input[type='submit'] {
				padding: 0 1rem;
    			white-space: nowrap;
			}

			tbody {
				display: block;
				width: 100%;
			
				tr {
					td {
						padding: 1rem 0;
						
						&:first-child {
							min-width: 19rem;
							label {
								font-weight: 700;
								color: @color-type-link;
							}
						}
						
						&:nth-child(2) {
							width: 99%;
						}
						
						input[type="text"], input[type='password'], textarea {
							box-sizing: border-box;
						     -webkit-box-sizing:border-box;
						     -moz-box-sizing: border-box;
							width: 100%;
						}
					}
					
					&:last-child {
						width: 100%;
						
						td {
							button, input[type='submit'] {
								float: right;
								margin-left: 1rem;
								margin-bottom: 1rem;
							}
						}
					}
				}
			}
		}
	}
}