#left-area {
	form[name='settings-form'] {
		position: absolute;
		overflow-x: hidden;
		overflow-y: auto;
		left: 0;
		right: 0;
		top: 10px;
		bottom: 0;
		
		table {
			position: absolute;
			display: block;
			left: 40px;
			right: 40px;
			
			button, input[type='submit'] {
				padding: 0 10px;
    			white-space: nowrap;
			}

			tbody {
				display: block;
				width: 100%;
			
				tr {
					td {
						padding: 10px 0;
						
						&:first-child {
							min-width: 190px;
							label {
								font-weight: 700;
								color: @color-type-link;
							}
						}
						
						&:nth-child(2) {
							width: 99%;
						}
						
						input[type="text"], textarea {
							box-sizing: border-box;
						     -webkit-box-sizing:border-box;
						     -moz-box-sizing: border-box;
							width: 100%;
						}
					}
				}
			}
		}
	}
}