#left-area {
	#visualization-list {
		position: absolute;
		overflow: auto;
		left: 0;
		right: 0;
		top: 6rem;
		bottom: 0;	
		padding-right: 1rem;
		
		.visualization-item {
			width: 34rem;
			height: 26rem;
			margin: 0 0 4rem 4rem;
			border: 1px @color-border-light solid;
			float: left;
			position: relative;
			cursor: pointer;
			
			.overlay {
				width: 34rem;
				height: 20rem;
				position: absolute;
				top: 0;
				background: fade(@color-back-top-bar, 60%);
				box-shadow: 0 0 3rem fade(#000, 50%) inset;
				z-index: 100;
				
				p {
					margin-left: 0.5rem;
					margin-right: 0.5rem;
					text-align: center;
					text-shadow: 0 0 2px @color-back-top-bar;
					
					&:first-child {
						margin-top: 5rem;
					}
				}
				
				.visualization-buttons {
					margin-top: 2rem;
					text-align: center;
					
					a {
						font-family: Conv_icomoon;
						color: #fff;
						
						&:hover {
							color: @color-type-link;
						}
						
						&:not(:last-child) {
							margin-right: 0.5rem;
						}
					}
				}
			}
			
			.visualization-img {
				height: 20rem;
				
				img {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
			
			.avatar-wrapper {
				float: left;
				width: 6rem;
				img {
					width: 6rem;
					height: 6rem;
				}
			}
			
			.visualization-main {
				margin-left: 6rem;
				height: 4.7rem;
				padding: 0.7rem 0 0.6rem; 
				background: @color-back-comment;
				
				p {
					margin: 0 2rem;
					color: @color-type-on-white;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					&.visualization-author {
						margin-top: 0.3rem;
					}
				}
			}
		}
	}
}