#left-area {
	#visualization-list {
		height: 100%;
		overflow: auto;		
		padding-right: 1rem;
		
		.visualization-item {
			width: 34rem;
			height: 26rem;
			margin: 4rem 0 0 4rem;
			border: 1px @color-border-light solid;
			float: left;
			position: relative;
			cursor: pointer;
			
			.overlay {
				width: 34rem;
				height: 20rem;
				position: absolute;
				top: 0;
				background: fade(@color-back-top-bar, 25%);
				box-shadow: 0 0 4rem fade(#000, 50%) inset;
				z-index: 100;
			}
			
			.visualization-img {
				height: 20rem;
			}
			
			.avatar-wrapper {
				float: left;
				width: 6rem;
				img {
					width: 6rem;
					height: 6rem;
				}
			}
			
			.visualization-main {
				margin-left: 6rem;
				height: 4.7rem;
				padding: 0.7rem 0 0.6rem; 
				background: @color-back-comment;
				
				p {
					margin: 0 2rem;
					color: @color-type-on-white;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					&.visualization-author {
						margin-top: 0.3rem;
					}
				}
			}
		}
	}
}