#left-area {
	#visualization-list {
		position: absolute;
		overflow: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding-right: 10px;
		
		.visualization-item {
			width: 340px;
			height: 260px;
			margin: 40px 0 0 40px;
			border: 1px @color-border-light solid;
			float: left;
			
			.visualization-link {
				display: block;
				width: 340px;
				height: 200px;
			}
			
			.avatar-wrapper {
				float: left;
				width: 60px;
			}
			
			.visualization-main {
				margin-left: 60px;
				height: 47px;
				padding: 7px 0 6px; 
				background: @color-back-comment;
				
				p {
					margin: 0 20px;
					color: @color-type-on-white;
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					&.visualization-author {
						margin-top: 3px;
					}
				}
			}
		}
	}
}