#left-area {
	#visualization-area {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 6rem;
	
		#map {
			position: absolute;
			width: 100%;
			top: 5rem;
			bottom: 5rem;
		}
	
		#seekbar {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 5rem;
			background: @color-back-top-bar; 
			
			button {
				float: left;
				width: 5rem;
				height: 100%;
				border: none;
				i {
					margin: 0;
				}
			}
			
			#timeline-list {
				height: 100%;
				margin-left: 5rem;
				padding-left: 1rem;
				overflow-x: auto;
				overflow-y: hidden;
				white-space: nowrap;
				
				.timeline-item {
					display: inline-block;
					text-align: center;
					padding: 1.5rem 1rem;
					height: 2rem;
					cursor: pointer;
					
					&.focused {
						font-weight: 700;
						color: @color-type-link;	
					}
					
					&:hover {
						background: darken(@color-back-right-area, 20%);
					}
				}
			}
		}
	}
}