#left-area {
	#visualization-area {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 6rem;
	
		#map {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 6rem;
		}
	
		#seek {
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 6rem;
			background: @color-back-top-bar;
			
			#play-btn {
				float: left;
				height: 2rem;
				width: 6rem;
				padding: 2rem 0;
				font-family: Conv_icomoon;
				background: @color-back-button;
				
				&:hover {
					background: @color-back-like-button;
				}
			}
			
			#timeline-list {
				height: 6rem;
				margin-left: 6rem;
				padding-left: 1rem;
				overflow-x: auto;
				overflow-y: hidden;
				white-space: nowrap;
				
				.timeline-item {
					display: inline-block;
					text-align: center;
					padding: 2rem 1rem;
					height: 2rem;
					cursor: pointer;
					
					&.focused {
						font-weight: 700;
						color: @color-type-link;	
					}
					
					&:hover {
						background: darken(@color-back-right-area, 20%);
					}
				}
			}
		}
	}
}