#action-bar {
	#like-btn {
		float: left;
		width: 8rem;
		height: 2rem;
		padding: 3rem 0;
		background: @color-back-like-button;
		font-family: Conv_icomoon;
		
		&:hover {
			background: darken(@color-back-like-button, 10%);
		}
	}
	
	#like-info {
		margin-left: 8rem;
		height: 2rem;
		padding: 3rem 2rem;
		font-weight: 600;
	}
}