#category-area {
	position: absolute;
	top: 2rem;
	bottom: 1rem;
	width: 100%;
	
	h1 {
		margin: 0 3rem;
	}
	
	#category-list {
		position: absolute;
		width: 100%;
		top: 4rem;
		bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		
		.category-item {
			cursor: pointer;
			border-top: 1px @color-back-top-bar solid;
			height: 6rem;
			
			&:last-child {
				border-bottom: 1px @color-back-top-bar solid;
			}
			
			&.selected .category-bck {
				left: 0;
				opacity: 1;
			}
			
			.category-bck {
				display: block;
				position: absolute;
				left: 100%;
				width: 100%;
				height: 6rem;
				background: @color-back-top-bar;
				opacity: 0;
			}
			
			.category-caption {
				display: block;
				position: absolute;
				box-sizing: border-box;
				-webkit-box-sizing:border-box;
				-moz-box-sizing: border-box;
				width: 100%;
				height: 2rem;
				padding: 2rem 3rem;
				color: @color-type-link;
				font-weight: 700;
			}
		}
	}
	
}
