#right-area-main {
	form[name='comment-form'] {
		height: 130px;
		margin: 15px 20px 0 20px;
		padding-bottom: 20px;
		border-bottom: 1px dashed #afafaf;
		
		textarea {
			width: 360px;
			height: 60px;
		}
		
		input[name='submit-btn'] {
			margin-left: 270px;
			margin-top: 10px;
			width: 130px;
		}
	}
}