#right-area {
	form[name='comment-form'] {
		overflow-y: auto;
		margin: 1.5rem 2rem 0 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px dashed #afafaf;
		
		textarea[name='comment-box'] {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			height: 8rem;
		}
		
		input[name='submit-btn'] {
			float: right;
			margin-top: 1rem;
			width: 13rem;
		}
	}
}