#right-area {
	form[name='comment-form'] {
		height: 13rem;
		margin: 15px 2rem 0 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px dashed #afafaf;
		
		textarea[name='comment-box'] {
			width: 36rem;
			height: 6rem;
		}
		
		input[name='submit-btn'] {
			margin-left: 27rem;
			margin-top: 1rem;
			width: 13rem;
		}
	}
}