#right-area {
	#description-area {
		position: absolute;
		top: 2rem;
		bottom: 1rem;
		left: 3rem;
		right: 3rem;
		overflow-y: auto;
		
		h1 {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		p {
			word-wrap: break-word;
		}
	}
}