#follower-area {
	position: absolute;
	top: 2rem;
	bottom: 1rem;
	width: 100%;
	
	h1 {
		margin: 0 3rem;
	}
	
	#follower-list {
		position: absolute;
		left: 3rem;
		right: 3rem;
		top: 5rem;
		bottom: 0;
		overflow-y: auto;
		
		.follower-item {
			position: relative;
			transition: background 0.3s ease-out;
			margin-bottom: 1rem;
			
			&:hover {
				background: @color-back-top-bar;
				transition: background 0.3s ease-out;
			}
			
			.avatar-wrapper {
				width: 6rem;
				height: 6rem;
				img {
					width: 6rem;
					height: 6rem;
				}
			}
			
			.follower-main {
				position: absolute;
				top: 0;
				right: 0;
				left: 6rem;
				height: 2rem;
				padding: 2rem;
				
				p {
					width: calc(100% - 1rem);
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
}
