#right-area-tab {
	position: absolute;
	z-index: 200;
	left: -4rem;
	
	li {
		font-family: Conv_icomoon;
		height: 2rem;
		width: 4rem;
		padding: 1rem 0;
		background: @color-back-top-bar;
		cursor: pointer;
		text-align: center;
		
		&.selected {
			background: @color-back-right-area;
		}
		
		&:hover {
			background: @color-back-button;
		}
	}
}