#right-area-showhide-btn {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	padding: 3rem 0;
	height: 2rem;
	width: 8rem;
	background: @color-back-right-area;
	font-family: Conv_icomoon;
	font-size: 2rem;

	&:hover {
		background: darken(@color-back-right-area, 20%);
	}
}