#top-bar {
	form[name='search-form'] {
		float: left;
		margin-top: 2rem;
		margin-left: 5rem;
		
		input[name='search-box'] {
			width: 42rem;
			height: 2rem;
			background: @color-back-left-panel;
			font-weight: 600;
		}
		input[name='search-box']::-webkit-input-placeholder {
			font-family: Conv_icomoon;
			font-style: normal;
		}
		input[name='search-box']:-moz-placeholder {
			font-family: Conv_icomoon;
			font-style: normal;
		}
		input[name='search-box']::-moz-placeholder {
			font-family: Conv_icomoon;
			font-style: normal;
		}
		input[name='search-box']:-ms-input-placeholder {
			font-family: Conv_icomoon;
			font-style: normal;
		}
	}
}