#top-bar {
	form[name='search-form'] {
		position: absolute;
		top: 2rem;
		left: 14rem;
		
		input[name='search-box'] {
			width: 42rem;
			height: 2rem;
			background: @color-back-left-panel;
			font-weight: 600;
			padding-left: 4rem;
		}
		
		i {
			position: absolute;
			font-family: Conv_icomoon;
			top: 1rem; left: 1rem;
		}
	}
}