@color-back-left-panel: #252525;
@color-back-right-area: #494949;
@color-back-top-bar: #333;
@color-back-action-bar: #19af8f;

a {
	color: #11fdcb;
	text-decoration: none;
}

#left-panel {
	position: fixed;
	height: 100%;
	width: 320px;
	
	overflow: hidden;
	
	box-shadow: 0 0 5px #494949;
	background: @color-back-left-panel;
	/* Bring to front to show shadow */
	z-index: 1;
	
	font-size: 18px;
	
	#user-bar {
		height: 80px;
		
		img#avatar {
			float: left;
			margin: 10px;
		}
		
		#username {
			float: left;
			width: 170px;
			height: 20px;
			padding: 30px 10px 30px 0;
			text-overflow: ellipsis;
			
			font-weight: 700;
			
			a {
				&:hover {
					color: #fff;
				}
			}
		}
		
		#logout {
			float: left;
			width: 60px;
			height: 80px;
		}
	}
	
	.nav-list {
		.nav-item {
			border-top: #4f4f4f 1px solid;
			border-bottom: #4f4f4f 1px solid;
			height: 60px;
			
			.nav-icon {
				display: block;
				width: 60px;
				height: 60px;
				border-right: #4f4f4f 1px solid;
				background: rgba(0,0,0,0);
			}
			
			&:hover {
				border-top: #11fdcb 1px solid;
				border-bottom: #11fdcb 1px solid;
				
				.nav-icon {
					border-right: #11fdcb 1px solid;
				}
			}
		}
	}
}

#main-panel {
	position: fixed;
	height: 100%;
	/* CSS hack to span to full right size */
	left: 320px;
	right: 0;
	
	overflow: hidden;
	
	#top-bar {
		height: 80px;
		background: @color-back-top-bar;
		
		/* Bring to front to not be shadowed */
		position: relative;
		z-index: 2;
	}
	
	#main-area {
		height: 100%;
	}
	
	#left-area {
		position: fixed;
		height: 100%;
		left: 320px;
		right: 440px;
	}
	
	#right-area {
		position: fixed;
		height: 100%;
		width: 440px;
		right: 0;
		
		background: @color-back-right-area;
		
		#action-bar {
			height: 80px;
			background: @color-back-action-bar;
		}
	}
}