@import (less) "definition.less.css";

a {
	color: @color-type-link;
	text-decoration: none;
}

textarea {
	background: @color-back-top-bar;
	resize: none;
	font-style: italic;
	box-shadow: inset 0 0 3px 0 @color-shadow-inner-area;
	padding: 10px 20px;
}

h1, p {
	line-height: 120%;
}

h1 {
	font-size: 21px;
	font-weight: 800;
}

span.h2 {
	color: @color-type-link;
	font-weight: 600;
}

span.h6 {
	font-style: italic;
	font-weight: 300;
}

a.username {
	font-weight: 700;
	color: @color-type-username;
}

span.time {
	font-style: italic;
	color: inherit;
}

button, input[type='submit'] {
	background: @color-back-button;
	border: 1px @color-type-link solid;
	font-weight: 600; 
	height: 40px;
	
	&:hover {
		background: @color-back-like-button;
	}
	
	i {
		font-family: Conv_icomoon;
		margin-right: 20px;
	}
}

button, input[type='submit'], [id$="btn"] {
	cursor: pointer;
	text-align: center;
}

#left-panel {
	position: fixed;
	height: 100%;
	width: 320px;

	box-shadow: 0 0 5px #494949;
	background: @color-back-left-panel;
	/* Bring to front to show shadow */
	z-index: 1;
	
	font-size: 20px;
	
	#user-bar {
		height: 80px;
		
		img#avatar {
			float: left;
			margin: 10px;
		}
		
		#username {
			float: left;
			width: 170px;
			height: 20px;
			padding: 30px 10px 30px 0;
			text-overflow: ellipsis;
			
			font-weight: 700;
			
			a {
				&:hover {
					color: #fff;
				}
			}
		}
		
		#logout-btn {
			float: left;
			width: 60px;
			height: 20px;
			padding: 30px 0;
			font-family: Conv_icomoon;
			color: @color-type-link;
			
			&:hover {
				background: darken(@color-back-button, 25%); 
			}
		}
	}
	
	.nav-list {
		.nav-item {
			border-bottom: #4f4f4f 1px solid;
			height: 60px;
			cursor: pointer;
			
			&:first-child {
				border-top: #4f4f4f 1px solid;
			}
			
			&.before-selected {
				border-bottom: none;
			}
			
			&.after-selected {
				border-top: none;
			}
			
			&:hover, &.selected {
				&:not(.before-selected) {
					border-bottom: #11fdcb 1px solid;
				}
			
				&:not(.after-selected) {
					border-top: #11fdcb 1px solid;
				}
				
				.nav-icon {
					border-color: #11fdcb;
				}
			}
			
			&.selected .nav-bck {
				left: 0;
				opacity: 1;
			}
				
			.nav-bck {
				display: block;
				position: absolute;
				left: -100%;
				width: 100%;
				height: 60px;
				background: @color-back-button;
				opacity: 0;
			}
			
			.nav-icon {
				display: block;
				position: absolute;
				width: 60px;
				height: 20px;
				padding: 20px 0;
				border-right: #4f4f4f 1px solid;
				background: rgba(0,0,0,0);
				font-family: Conv_icomoon;
				text-align: center;
			}
			
			.nav-caption {
				display: block;
				position: absolute;
				left: 60px;
				width: 230px;
				height: 60px;
				padding: 20px 0 20px 30px;
				font-weight: 600;
			}
			
		}
	}
}

#main-panel {
	position: fixed;
	height: 100%;
	/* CSS hack to span to full right size */
	left: 320px;
	right: 0;
}

/* For inside main-panel iframe */
#main-area, #left-area, #right-area {
	font-size: 18px;	
}

#top-bar {
	height: 80px;
	background: @color-back-top-bar;
	font-size: 20px;
	
	/* Bring to front to not be shadowed */
	position: relative;
	z-index: 2;
	
	#back-btn {
		width: 80px;
		height: 20px;
		padding: 30px 0;
		margin-right: 20px;
		position: absolute;
		
		background: @color-back-right-area;
		font-family: Conv_icomoon;
		
		&:hover {
			background: darken(@color-back-right-area, 20%);
		}
	}
	
	#title {
		position: absolute;
		left: 100px;
		right: 0;
		height: 20px;
		padding: 30px 0;
		
		overflow: hidden;
  			white-space: nowrap;
		text-overflow: ellipsis;
		
		font-weight: 600;
	}
}

#main-area {
	
}

#left-area {
	position: absolute;
	height: 100%;
	left: 0;
	right: 440px;
	
	#left-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
		
		#visualization-area {
			position: absolute;
			width: 100%;
			top: 0;
			bottom: 60px;
		
			#map {
				position: absolute;
				width: 100%;
				top: 0;
				bottom: 60px;
			}
		
			#seek {
				position: absolute;
				width: 100%;
				bottom: 0;
				height: 60px;
				background: @color-back-top-bar;
				
				#play-btn {
					position: absolute;
					height: 20px;
					width: 60px;
					padding: 20px 0;
					font-family: Conv_icomoon;
					background: @color-back-button;
					
					&:hover {
						background: @color-back-like-button;
					}
				}
				
				#timeline-list {
					position: absolute;
					height: 60px;
					left: 60px;
					right: 0;
					padding-left: 10px;
					overflow-x: auto;
					overflow-y: hidden;
					white-space: nowrap;
					
					.timeline-item {
						display: inline-block;
						text-align: center;
						padding: 20px 10px;
						height: 20px;
						cursor: pointer;
						
						&.focused {
							font-weight: 700;
							color: @color-type-link;	
						}
						
						&:hover {
							background: darken(@color-back-right-area, 20%);
						}
					}
				}
			}
		}
	}
}

#right-area {
	position: absolute;
	height: 100%;
	width: 440px;
	right: 0;
	background: @color-back-right-area;
	
	#action-bar {
		height: 80px;
		background: @color-back-button;
		font-size: 20px;
		
		#right-area-showhide-btn {
			position: fixed;
			z-index: 200;
			top: 0;
			right: 0;
			padding: 30px 0;
			height: 20px;
			width: 80px;
			background: @color-back-right-area;
			font-family: Conv_icomoon;
		
			&:hover {
				background: darken(@color-back-right-area, 20%);
			}
		}
	}
	
	#right-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
		
		#description-area {
			margin: 0 30px;
			position: absolute;
			bottom: 100px;
			overflow-y: auto;
		}
		
		#button-area {
			margin: 0 30px;
			position: absolute;
			bottom: 30px;
		}
	}
}