@import (less) "base/base-main3-alternative.less.css";
@import (less) "element/top-bar.less.css";
@import (less) "element/mid/vex-popup.less.css";
@import (less) "element/mid/edit-area.less.css";
@import (less) "element/right/column-list-area.less.css";
@import (less) "element/right/description-area.less.css";

#right-area {
	z-index: 500;
	
	>:not(.current) {
		display: none;
	}
	
	#description-area {
		.edit-a {
			font-family: Conv_icomoon;
			margin: 0 0.5rem;
			color: #fff;
			
			&:hover {
				cursor: pointer;
				color: @color-type-link;
			}
		}
	}
}
