@import (less) "base/base-main3-alternative.less.css";
@import (less) "element/top-bar.less.css";
@import (less) "element/mid/vex-popup.less.css";
@import (less) "element/mid/edit-area.less.css";
@import (less) "element/mid/google-map.less.css";
@import (less) "element/right/column-list-area.less.css";
@import (less) "element/right/description-area.less.css";
@import (less) "element/right/button-area.less.css";

#right-area {
	>:not(.current) {
		display: none;
	}
	
	#description-area {
		bottom: 14.7rem;
		
		&.edit-page {
			bottom: 10rem;
		}
		
		.edit-a, .repos-a {
			font-family: Conv_icomoon;
			margin: 0 0.5rem;
			color: #fff;
			
			&:hover {
				cursor: pointer;
				color: @color-type-link;
			}
		}
		
		h1 .edit-a {
			margin-left: 0;
			margin-right: 1rem;
		}
	}
	
	#button-area {
		#publish-btn {
			width: 100%;
			margin-bottom: 0.7rem;
		}
		
		#delete-btn {
			width: 100%;
		}
	}
}