@color-back-left-panel: #252525;
@color-back-right-area: #494949;
@color-back-top-bar: #333;
@color-back-button: #19af8f;
@color-back-like-button: #1dcca7;
@color-type-link: #11fdcb;
@color-shadow-inner-area: #000101;