@import (less) "base/base.less.css";

body {
	background: url("/images/home-background.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	font-size: 1.8rem;
	
	.wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		
		background: radial-gradient(ellipse at center, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.7) 100%);
	}
	
	#welcome {
		text-align: center;
		width: 60rem;
		height: 20rem;
		
		margin: auto;
  		position: absolute;
 		top: 0; left: 0; bottom: 0; right: 0;
 		
 		h1 {
 			font-size: 6rem;
 			text-shadow: 0 0 1rem #333;
 		}
 		
 		p {
 			font-size: 2.27rem;
 			text-shadow: 0 0 0.5rem #111;
 		}
 		
 		#buttons {
 			margin-top: 2.5rem;
 			button {
 				padding: 0 1rem;
 				
 				&:not(:first-child) {
 					margin-left: 1rem;
 				}
 			}
 		}
	}
}