@import (less) "base/base-main3-alternative.less.css";
@import (less) "element/top-bar.less.css";
@import (less) "element/mid/login-form.less.css";
@import (less) "element/right/description-area.less.css";

#right-area {
	#description-area {
		top: 20px;
		bottom: 0;
		
		#register-btn {
			margin-top: 20px;
			width: 100%;
		}
	}
}
