@import (less) "base/base-main3.less.css";
@import (less) "element/top-bar.less.css";
@import (less) "element/mid/visualization-list.less.css";
@import (less) "element/right/category-area.less.css";
@import (less) "element/right/showhide-btn.less.css";

.visualizations-info {
	color: @color-type-on-white;
	position: absolute;
	top: 0;
	width: 100%;
	height: 6rem;
	
	p {
		margin: 2rem 4rem;
	}
}
