@import (less) "show-visualizations.less.css";
@import (less) "element/top/search-form.less.css";

#search-info {
	color: @color-type-on-white;
	margin: 20px 40px;
	
	span {
		color: @color-type-on-white;
	}
}

#left-area {
	#visualization-list {
		top: 20px;
	}
}