@import (less) "base/base-main4.less.css";
@import (less) "element/top-bar.less.css";
@import (less) "element/mid/visualization-area.less.css";
@import (less) "element/mid/comment-area.less.css";
@import (less) "element/right/comment-form.less.css";
@import (less) "element/right/action-bar-like.less.css";
@import (less) "element/right/description-area.less.css";
@import (less) "element/right/button-area.less.css";
@import (less) "element/right/showhide-btn.less.css";

#right-area {
	#description-area {
		top: 18rem;
		bottom: 10rem;
	}
}