@import (less) "base.less.css";

/* For left-panel sidebar */
#left-panel {
	position: fixed;
	height: 100%;
	width: 26rem;
	
	box-shadow: 0 0 5px #222;
	background: @color-back-left-panel;
	/* Bring to front to show shadow */
	z-index: 1;
	
	font-size: 1.8rem;
	color: #fff;
	
	#user-bar {
		height: 8rem;
		
		img#avatar {
			float: left;
			margin: 1rem;
			cursor: pointer;
			width: 6rem;
			height: 6rem;
		}
		
		#username {
			margin-left: 8rem;
			height: 2rem;
			padding: 3rem 1rem 3rem 0;
			text-overflow: ellipsis;
			
			font-weight: 700;
			
			a {
				&:hover {
					color: #fff;
				}
			}
			
			#logout-btn {
				position: absolute;
				top: 0; right: 0;
				width: 6rem;
				height: 2rem;
				padding: 3rem 0;
				font-family: Conv_icomoon;
				color: @color-type-link;
				
				&:hover {
					background: darken(@color-back-button, 25%); 
				}
			}
		}
	}
	
	#nav-list {
		position: absolute;
		top: 8rem;
		width: 100%;
		
		.nav-item {
			border-bottom: @color-border-nav 1px solid;
			height: 5rem;
			cursor: pointer;
			transition: border 0.4s;
			
			&:first-child {
				border-top: @color-border-nav 1px solid;
			}
			
			&.before-selected {
				border-bottom: none;
			}
			
			&.after-selected {
				border-top: none;
			}

			&:hover, &.selected {
				transition: border 0.4s;
				&:not(.before-selected) {
					border-bottom: @color-border-hover-nav 1px solid;
				}
			
				&:not(.after-selected) {
					border-top: @color-border-hover-nav 1px solid;
				}
				
				.nav-icon {
					transition: border 0.4s;
					border-color: @color-border-hover-nav;
				}
			}
			
			&.selected .nav-bck {
				left: 0;
				opacity: 1;
			}
				
			.nav-bck {
				display: block;
				position: absolute;
				left: -100%;
				width: 100%;
				height: 5rem;
				background: @color-back-button;
				opacity: 0;
				z-index: -100;
			}
			
			.nav-icon {
				display: block;
				position: absolute;
				width: 5rem;
				height: 2rem;
				padding: 1.5rem 0;
				transition: border 0.4s;
				border-right: @color-border-nav 1px solid;
				background: rgba(0,0,0,0);
				font-family: Conv_icomoon;
				text-align: center;
			}
			
			.nav-caption {
				display: block;
				margin-left: 5rem;
				height: 2rem;
				padding: 1.5rem 2rem;
				font-weight: 600;
				
				overflow: hidden;
  				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
		}
	}
}

#main-panel {
	position: fixed;
	height: 100%;
	left: 26rem;
	right: 0;
	background: @color-back-right-area;
}