@import (less) "base.less.css";

#main-area {
	position: absolute;
	width: 100%;
	top: 80px;
	bottom: 0;
	font-size: 18px;
	
	#left-area {
		position: absolute;
		height: 100%;
		left: 0;
		right: 440px;
	}
	
	#right-area {
		position: absolute;
		height: 100%;
		width: 440px;
		right: 0;
		background: @color-back-right-area;
	}
}