@import (less) "definition.less.css";

html {
	@media @narrow-desktop-screen {font-size: 50%;}
	@media @wide-desktop-screen {font-size: 62.5%; /* 10 px */}
}

body {
	overflow: hidden;
}

a {
	color: @color-type-link;
	text-decoration: none;
}

textarea, input[type='text'], input[type='password'], input[type="number"] {
	background: @color-back-top-bar;
	resize: none;
	font-style: italic;
	box-shadow: inset 0 0 3px 0 @color-shadow-inner-area;
	padding: 1rem 2rem;
}

h1, p, label {
	line-height: 130%;
}

h1 {
	font-size: 2.1rem;
	font-weight: 800;
}

span.h2 {
	color: @color-type-link;
	font-weight: 600;
}

span.h6 {
	font-style: italic;
	font-weight: 300;
}

a.username {
	font-weight: 700;
	color: @color-type-username;
}

span.time {
	font-style: italic;
	color: inherit;
}

input, select, textarea, button {font-family:inherit; color:inherit;}

button, input[type='submit'] {
	background: @color-back-button;
	border: 1px @color-type-link solid;
	font-weight: 600; 
	height: 4rem;
	
	&::-moz-focus-inner {border: none;}
	
	&:hover {
		background: @color-back-like-button;
	}
	
	&.grey-btn {
		background: @color-back-grey-button;
		border-color: @color-border-grey-button;
		&:hover {
			background: @color-back-hover-grey-button;
		}
	}
	
	&.blue-btn {
		background: @color-back-blue-button;
		border-color: @color-border-blue-button;
		&:hover {
			background: @color-back-hover-blue-button;
		}
	}
	
	&.red-btn {
		background: @color-back-red-button;
		border-color: @color-border-red-button;
		&:hover {
			background: @color-back-hover-red-button;
		}
	}
}

button, input[type='submit'], [id$="btn"] {
	cursor: pointer;
	text-align: center;
		
	i {
		font-family: Conv_icomoon;
		margin-right: 2rem;
		font-weight: normal;
	}
}

button:disabled {
	cursor: default;
	background: @color-back-grey-button;
	border-color: @color-border-grey-button;
}

.noty_message {
	font-size: 1.6rem!important;
	line-height: 130%!important;
	font-weight: 700!important;
}

.styled-select {
	background: @color-back-top-bar;
	overflow: hidden;
	background: url(../images/select-arrow.png) no-repeat right @color-back-top-bar;
	
	select {
		background: transparent;
		font-style: italic;
		color: #fff;
		box-shadow: inset 0 0 3px 0 @color-shadow-inner-area;
		padding: 1rem 0 1rem 2rem;
		border: none;
		font-size: 100%;
		-moz-appearance: none;
		-webkit-appearance: none;
	   	appearance: none;
	   	
	   	&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #fff;
		}
	}
} 

.styled-radio {
	margin: 0 1rem 1rem 0;
	
	input[type="radio"] {
		opacity: 0;
		position: relative;
		left: 0.6rem;
		top: 0.2rem;
		z-index: 1000;
		
		+ label > span {
			position: relative;
			width: 2rem;
			height: 2rem;
			margin: 0 0.5rem 0 -1.5rem;
			border-radius: 1.4rem;
			background: #f0f0f0;
			border: 1px solid #bbb;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			display: inline-block;
			vertical-align: middle;
		}
		
		&:checked + label > span {
			background: linear-gradient(lighten(@color-back-button, 50%), lighten(@color-back-button, 30%));
			background: -webkit-linear-gradient(lighten(@color-back-button, 50%), lighten(@color-back-button, 30%));
			border-color: darken(@color-back-button, 10%);
			box-shadow: 0 1px 2px lighten(@color-back-button, 30%) inset;
			
			span {
				display: block;
				position: absolute;
				left: 0.6rem;
				top: 0.6rem;
				width: 0.8rem;
				height: 0.8rem;
				border-radius: 0.5rem;
				border: none;
				background: darken(@color-back-button, 10%);
				box-shadow: 0 1px rgba(255, 255, 255, 0.3);
			}
		}
		
		&:focus + label > span {
			box-shadow: 0 0 6px darken(@color-back-button, 10%);
		}
	}
}

.btn-group {
	display: inline-block;
	margin-right: 0.7rem;
	margin-bottom: 0.7rem;
	
	button {
		vertical-align: top;
		
		&:not(:first-child) {
			border-left: none;
		}
		&:not(:last-child) {
			border-right: none;
		}
	}
}