@import (less) "base.less.css";

#main-area {
	position: absolute;
	width: 100%;
	top: 80px;
	bottom: 0;
	font-size: 18px;
	color: #fff;
	
	#left-area {
		position: absolute;
		height: 100%;
		left: 0;
		@media @wide-iframe {right: @width-right-area-wide-iframe;}
		@media @narrow-iframe {right: @width-right-area-narrow-iframe;}
		background: #fff;
	}
	
	#right-area {
		position: absolute;
		height: 100%;
		@media @wide-iframe {width: @width-right-area-wide-iframe;}
		@media @narrow-iframe {width: @width-right-area-narrow-iframe;}
		right: 0;
		background: @color-back-right-area;
	}
}