@import (less) "base.less.css";

#left-area {
	position: absolute;
	height: 100%;
	left: 0;
	@media @wide-iframe {right: @width-right-area-wide-iframe;}
	@media @narrow-iframe {right: @width-right-area-narrow-iframe;}
	font-size: 18px;
	color: #fff;
	
	#left-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
		background: #fff;
	}
}

#right-area {
	position: absolute;
	height: 100%;
	@media @wide-iframe {width: @width-right-area-wide-iframe;}
	@media @narrow-iframe {width: @width-right-area-narrow-iframe;}
	right: 0;
	background: @color-back-right-area;
	font-size: 18px;
	color: #fff;
		
	#action-bar {
		height: 80px;
		background: @color-back-button;
		font-size: 20px;
	}
	
	#right-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
	}
}