@import (less) "base.less.css";

#main-area {
	position: absolute;
	width: 100%;
	top: 8rem;
	bottom: 0;
	font-size: 1.6rem;
	color: #fff;
	
	#left-area {
		position: absolute;
		height: 100%;
		left: 0;
		right: 40rem;
		background: #fff;
	}
	
	#right-area {
		position: absolute;
		height: 100%;
		width: 40rem;
		right: 0;
		background: @color-back-right-area;
	}
}