@import (less) "base.less.css";

/* For left-panel sidebar */
#left-panel {
	position: fixed;
	height: 100%;
	width: 320px;

	box-shadow: 0 0 5px #222;
	background: @color-back-left-panel;
	/* Bring to front to show shadow */
	z-index: 1;
	
	font-size: 20px;
	
	#user-bar {
		height: 80px;
		
		img#avatar {
			float: left;
			margin: 10px;
			cursor: pointer;
		}
		
		#username {
			float: left;
			width: 170px;
			height: 20px;
			padding: 30px 10px 30px 0;
			text-overflow: ellipsis;
			
			font-weight: 700;
			
			a {
				&:hover {
					color: #fff;
				}
			}
		}
		
		#logout-btn {
			float: left;
			width: 60px;
			height: 20px;
			padding: 30px 0;
			font-family: Conv_icomoon;
			color: @color-type-link;
			
			&:hover {
				background: darken(@color-back-button, 25%); 
			}
		}
	}
	
	#nav-list {
		position: absolute;
		top: 80px;
		width: 320px;
		
		.nav-item {
			border-bottom: #4f4f4f 1px solid;
			height: 60px;
			cursor: pointer;
			transition: border 0.4s;
			
			&:first-child {
				border-top: #4f4f4f 1px solid;
			}
			
			&.before-selected {
				border-bottom: none;
			}
			
			&.after-selected {
				border-top: none;
			}

			&:hover, &.selected {
				transition: border 0.4s;
				&:not(.before-selected) {
					border-bottom: #11fdcb 1px solid;
				}
			
				&:not(.after-selected) {
					border-top: #11fdcb 1px solid;
				}
				
				.nav-icon {
					transition: border 0.4s;
					border-color: #11fdcb;
				}
			}
			
			&.selected .nav-bck {
				left: 0;
				opacity: 1;
			}
				
			.nav-bck {
				display: block;
				position: absolute;
				left: -100%;
				width: 100%;
				height: 60px;
				background: @color-back-button;
				opacity: 0;
			}
			
			.nav-icon {
				display: block;
				position: absolute;
				width: 60px;
				height: 20px;
				padding: 20px 0;
				transition: border 0.4s;
				border-right: #4f4f4f 1px solid;
				background: rgba(0,0,0,0);
				font-family: Conv_icomoon;
				text-align: center;
			}
			
			.nav-caption {
				display: block;
				position: absolute;
				left: 60px;
				width: 230px;
				height: 60px;
				padding: 20px 0 20px 30px;
				font-weight: 600;
			}
			
		}
	}
}

#main-panel {
	position: fixed;
	height: 100%;
	left: 320px;
	right: 0;
	background: @color-back-right-area;
}