@import (less) "base.less.css";

#left-area {
	position: absolute;
	height: 100%;
	left: 0;
	right: 40rem;
	font-size: 1.6rem;
	color: #fff;
	
	#left-area-main {
		position: absolute;
		width: 100%;
		top: 8rem;
		bottom: 0;
		background: #fff;
	}
}

#right-area {
	position: absolute;
	height: 100%;
	width: 40rem;
	right: 0;
	background: @color-back-right-area;
	font-size: 1.6rem;
	color: #fff;
		
	#action-bar {
		height: 8rem;
		background: @color-back-button;
		font-size: 2rem;
	}
	
	#right-area-main {
		position: absolute;
		width: 100%;
		top: 8rem;
		bottom: 0;
	}
}