@import (less) "base.less.css";

#left-area {
	position: absolute;
	height: 100%;
	left: 0;
	right: 440px;
	font-size: 18px;

	#left-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
	}
}

#right-area {
	position: absolute;
	height: 100%;
	width: 440px;
	right: 0;
	background: @color-back-right-area;
	font-size: 18px;
		
	#action-bar {
		height: 80px;
		background: @color-back-button;
		font-size: 20px;
	}
	
	#right-area-main {
		position: absolute;
		width: 100%;
		top: 80px;
		bottom: 0;
	}
}