@import (less) "definition.less.css";

body {
	overflow: hidden;
}

a {
	color: @color-type-link;
	text-decoration: none;
}

textarea {
	background: @color-back-top-bar;
	resize: none;
	font-style: italic;
	box-shadow: inset 0 0 3px 0 @color-shadow-inner-area;
	padding: 10px 20px;
}

h1, p {
	line-height: 120%;
}

h1 {
	font-size: 21px;
	font-weight: 800;
}

span.h2 {
	color: @color-type-link;
	font-weight: 600;
}

span.h6 {
	font-style: italic;
	font-weight: 300;
}

a.username {
	font-weight: 700;
	color: @color-type-username;
}

span.time {
	font-style: italic;
	color: inherit;
}

button, input[type='submit'] {
	background: @color-back-button;
	border: 1px @color-type-link solid;
	font-weight: 600; 
	height: 40px;
	
	&:hover {
		background: @color-back-like-button;
	}
	
	i {
		font-family: Conv_icomoon;
		margin-right: 20px;
	}
}

button, input[type='submit'], [id$="btn"] {
	cursor: pointer;
	text-align: center;
}