@color-back-left-panel: #252525;
@color-back-right-area: #494949;
@color-back-top-bar: #333; /* Textbox, topbar */
@color-back-button: #19af8f; /* Main green */
@color-back-grey-button: #6f6f6f;
@color-back-hover-grey-button: #888;
@color-back-blue-button: #60b0e6;
@color-back-hover-blue-button: #77c5fa;
@color-back-red-button: #af1939;
@color-back-hover-red-button: #c73151;
@color-back-like-button: #1dcca7;
@color-back-comment: #f9f9f9; /* Main light grey */
@color-type-link: #11fdcb; /* Text green */
@color-type-on-white: #333;
@color-type-username: #60b0e6;
@color-shadow-inner-area: #222;
@color-border-light: #e2e2e2; /* On white background */
@color-border-grey-button: #ccc;
@color-border-blue-button: #13d5e6;
@color-border-red-button: #fd113d;
@color-border-nav: #4f4f4f;
@color-border-hover-nav: @color-type-link;

@narrow-desktop-screen: ~"only screen and (max-device-width: 1400px)";
@wide-desktop-screen: ~"only screen and (min-device-width: 1401px)";

